<body class="home-body">
  <div class="container">
    <img src="/img/poster.gif" alt="Snow" />
    <button
      class="btn-start"
      type="submit"
      onclick="location.href='/controller';"
    >Button</button>
  </div>
</body>