.home {
  background: linear-gradient(120deg, #2980b9, #8e44ad); }

.container {
  position: relative; }

.container img {
  width: 100%;
  height: auto; }

.home-body {
  background: #0a164d; }

.container .btn-start {
  color: transparent;
  background-color: transparent;
  border-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px; }

.text {
  color: azure;
  font-size: 30px; }

.theta1-container {
  position: relative;
  top: 40px; }

.theta2-container {
  position: relative;
  top: 100px; }

.theta3-container {
  position: relative;
  top: 160px; }

.range-input {
  position: relative;
  top: 5px; }

.theta1-control {
  width: 100px; }

.position-div {
  position: relative;
  top: 170px; }

.btn-submit {
  position: relative;
  top: 190px;
  width: 300px;
  left: 76%; }

.actuator {
  position: relative;
  top: 300px; }

.btn-actuator {
  width: 300px; }

.save-position {
  position: relative;
  top: 245px;
  left: 310px; }

.btn-save-position {
  width: 100px; }

.go-position {
  position: relative;
  top: 190px;
  left: 650px; }

.btn-go-position {
  width: 100px; }
