.home {
  background: linear-gradient(120deg, #2980b9, #8e44ad); }

.text {
  color: azure;
  font-size: 30px; }

.theta1-container {
  position: relative;
  top: 40px; }

.theta2-container {
  position: relative;
  top: 100px; }

.theta3-container {
  position: relative;
  top: 160px; }

.range-input {
  position: relative;
  top: 5px; }

.theta1-control {
  width: 100px; }

.position-div {
  position: relative;
  top: 170px; }
